body {
  padding: 0;
  margin: 0;
  font-family: "Inter UI", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[tabindex="-1"] {
  outline: none;
}

input[type='file'].hide-text {
  @extend .govuk-file-upload !optional;
  font-size: 0;

  &::file-selector-button {
    font-size: 19px;
  }
}
