body {
    padding: 0;
    margin: 0;
    font-family: 'Inter UI', Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@import "../node_modules/govuk-frontend/dist/govuk/base";
@import "../node_modules/govuk-frontend/dist/govuk/core/index";
@import "../node_modules/govuk-frontend/dist/govuk/objects/index";
