#spinner {
  animation: spin 2s linear infinite;
  border: 16px solid #d1d3d4;
  border-radius: 50%;
  border-top: 16px solid #000000;
  display: inline-block;
  height: 120px;
  margin: auto;
  width: 120px;
  vertical-align: middle;
}

#spinner-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}

#spinner-container {
  position: relative;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}