#signout-modal {
  background-color: rgb(255, 255, 255);
  border: 4px solid black;
  display: inline-block;
  padding: 30px;
  z-index: 1002;
}

#signout-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1001;
  display: flex;
  align-items: center;
  justify-content: center;
}

#signout-modal-container {
  position: relative;
}
