

org: ukhsapets
# "app" enables Serverless Framework Dashboard features and sharing them with other Services.
app: pets-application-aws-serverless
service: ukhsa-pets-application-service

params:
  default:
    tableName: "pets-local-application"

plugins:
  - serverless-dynamodb
  - serverless-offline

provider:
  name: aws
  runtime: nodejs18.x
  region: eu-west-2
  stage: dev
  iam:
    role:
      statements:
        - Effect: Allow
          Action:
            - dynamodb:Query
            - dynamodb:Scan
          Resource:
            - Fn::GetAtt: [applicationTable, Arn]
  environment:
    APPLICATION_TABLE: ${param:tableName}

functions:
  getPetsApplication:
    environment:
      BRANCH: local
    handler: application.handler
    events:
      - http:
          path: application-details
          method: get

resources:
  Resources:
    applicationTable:
      Type: AWS::DynamoDB::Table
      Properties:
        AttributeDefinitions:
          - AttributeName: applicantPassportNumber
            AttributeType: S
        KeySchema:
          - AttributeName: applicantPassportNumber
            KeyType: HASH
        BillingMode: PAY_PER_REQUEST
        TableName: ${param:tableName}
custom:
  serverless-offline:
    httpPort: 3005
  serverless-dynamodb:
    stages:
      - dev
    start:
      port: 8007
      #docker: false
      inMemory: true
      migrate: true
      seed: true
      noStart: false
      host: 127.0.0.1
    seed:
      pets-application:
        sources:
          - table: "pets-local-application"
            sources: [./test/resources/pets-application-db-seed.json]

