name: Pets UI CI

on:
  pull_request:
    paths: "app/**"
  workflow_dispatch:

jobs:
  test-and-linting:
    name: Run unit tests, linting & security checks
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18.x
          cache: "yarn"
      - name: Install dependencies
        run: yarn
      - name: Audit packages
        run: yarn audit
      - name: Run unit tests
        run: yarn run test
        working-directory: app/pets-ui
      - name: Run eslint
        run: yarn run lint
        working-directory: app/pets-ui
        continue-on-error: true
      - name: SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@master
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        with:
          projectBaseDir: app/pets-ui/
  
  cypress-run:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18.x
          cache: "yarn"
      - name: Cypress install & run
        uses: cypress-io/github-action@v6
        with:
          build: yarn run build
          start: yarn run start
          working-directory: app/pets-ui
          browser: chrome
