# Resources:
# https://github.com/actions/starter-workflows
# https://github.com/actions/starter-workflows/blob/main/ci/node.js.yml
# https://github.com/actions/starter-workflows/blob/main/code-scanning/eslint.yml
# https://github.com/actions/starter-workflows/blob/main/code-scanning/sonarcloud.yml
# https://github.com/actions/starter-workflows/blob/main/code-scanning/sonarqube.yml

name: Pets UI CI

on:
  push:
    # should work without specifying branches here?
    paths: app/*
  workflow_dispatch:
    # options here, may not be needed, see https://docs.github.com/en/actions/writing-workflows/choosing-when-your-workflow-runs/triggering-a-workflow#defining-inputs-for-manually-triggered-workflows

jobs:
  test-and-linting: # https://github.com/actions/starter-workflows/blob/main/ci/node.js.yml
    # need to make sure workflow fails if job fails
    name: Run jest unit tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18.x
          cache: "yarn"
      - name: Install dependencies
        run: yarn
      - name: Run unit tests
        run: yarn run test
      # add coverage check here
      - name: Run eslint
        run: yarn run lint

  # eslint:
  #   # need to make sure workflow continues if job fails, and warning is thrown
  #   name: Run eslint scanning
  #   runs-on: ubuntu-latest

  #   steps:
  #     - name: Checkout code
  #       uses: actions/checkout@v4
  #     - name: Setup Node.js
  #       uses: actions/setup-node@v4
  #       with:
  #         node-version: 18.x
  #         cache: "yarn"
  #     - name: Install dependencies
  #       run: yarn
  #     - name: Run eslint
  #       run: yarn run lint
#
# from test-stations repo
#   scanner:
#     permissions:
#       id-token: write
#     runs-on: X64
#     steps:
#       - uses: actions/checkout@v4
#       - uses: actions/setup-node@v4
#         with:
#           node-version-file: ".nvmrc"
#       - uses: aws-actions/configure-aws-credentials@v4
#         with:
#           role-to-assume: ${{ secrets.CVS_MGMT_AWS_ROLE }}
#           aws-region: ${{ secrets.DVSA_AWS_REGION }}
#           role-session-name: "cvs-svc-test-stations"
#       - uses: aws-actions/aws-secretsmanager-get-secrets@v1
#         with:
#           secret-ids: sonarqube-gha
#           parse-json-secrets: true
#       - name: Install dependencies
#         run: npm ci
#       - name: Run SonarQube scanner
#         run: |
#           npm run test && \
#           npm run sonar-scanner -- \
#           -Dsonar.host.url=${{ env.SONARQUBE_GHA_URL }} \
#           -Dsonar.token=${{ env.SONARQUBE_GHA_TOKEN }} \
#           -Dsonar.login=${{ env.SONARQUBE_GHA_TOKEN }} \
#           -Dsonar.projectName=${{ github.repository }} \
#           -Dsonar.projectVersion=1.0.${{ github.run_id }}
