name: Pets UI CI

on:
  pull_request:
    paths: "pets-ui/**"
  workflow_dispatch:

concurrency:
  group: ci-${{ github.event.pull_request.number }}
  cancel-in-progress: true

jobs:
  test-and-linting:
    name: Run unit tests, linting & security checks
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          # Disabling shallow clone is recommended for improving relevancy of reporting
          fetch-depth: 0

      - name: Install pnpm
        uses: pnpm/action-setup@v4
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18.x
          cache: "pnpm"
      - name: Install dependencies
        run: pnpm i

      - name: Create a placeholder Swagger Docs file
        run: |
          echo '{"comment": "placeholder to be replaced at core-services build"}' > openapi-docs.json
        working-directory: pets-core-services

      - name: Lint typescript code
        run: pnpm lint
        working-directory: pets-ui

      - name: Run unit tests
        run: pnpm run test --testTimeout=10000
        working-directory: pets-ui

      - name: SonarCloud Scan
        uses: SonarSource/sonarqube-scan-action@v4.2.1
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        with:
          projectBaseDir: pets-ui/

  cypress-run:
    name: Run cypress tests
    runs-on: ubuntu-latest
    strategy:
      matrix:
        browser: [chrome, firefox, edge]
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Install pnpm
        uses: pnpm/action-setup@v4
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18.x
          cache: "pnpm"
      - name: Install dependencies
        run: pnpm i

      - name: Cache Cypress binary
        id: cache-cypress-binary
        uses: actions/cache@v4
        with:
          path: ~/.cache/Cypress
          key: cypress-binary-${{ runner.os }}-${{ hashFiles('pets-ui/package.json') }}

      - name: Install Cypress Binary
        if: steps.cache-cypress-binary.outputs.cache-hit != 'true'
        run: |
          pnpm exec cypress install --force
          pnpm exec cypress verify
        working-directory: pets-ui

      - name: Create a placeholder Swagger Docs file
        run: |
          echo '{"comment": "placeholder to be replaced at core-services build"}' > openapi-docs.json
        working-directory: pets-core-services

      - name: Cypress run tests
        uses: cypress-io/github-action@v6
        with:
          install: false
          working-directory: pets-ui/cypress
          build: pnpm run build
          start: pnpm run dev
          browser: ${{ matrix.browser }}

      - name: Upload Failed Tests Screenshots
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: failed-tests-screenshots
          path: pets-ui/cypress/cypress/screenshots


  build:
    name: Create UI build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Install pnpm
        uses: pnpm/action-setup@v4
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18.x
          cache: "pnpm"
      - name: Install dependencies
        run: pnpm i

      - name: Create a placeholder Swagger Docs file
        run: |
          echo '{"comment": "placeholder to be replaced at core-services build"}' > openapi-docs.json
        working-directory: pets-core-services

      - name: Create UI build
        run: pnpm run build
        working-directory: pets-ui