name: Pets UI CI

on:
  pull_request:
    paths: "pets-ui/**"
  workflow_dispatch:

jobs:
  test-and-linting:
    name: Run unit tests, linting & security checks
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Install pnpm
        uses: pnpm/action-setup@v4
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18.x
          cache: "pnpm"
      - name: Install dependencies
        run: pnpm i
      - name: Run unit tests
        run: pnpm run test --testTimeout=10000
        working-directory: pets-ui
      - name: Run eslint
        run: pnpm run lint
        working-directory: pets-ui
        continue-on-error: true
      - name: SonarCloud Scan
        uses: SonarSource/sonarqube-scan-action@v4.1.0
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        with:
          projectBaseDir: pets-ui/

  cypress-run:
    name: Run cypress tests
    runs-on: ubuntu-latest
    if: false
    strategy:
      matrix:
        browser: [chrome, firefox, edge]
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install pnpm
        uses: pnpm/action-setup@v4
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18.x
          cache: "pnpm"
      - name: Cypress install dependencies
        uses: cypress-io/github-action@v6
        with:
          runTests: false
      - name: Cypress run tests
        uses: cypress-io/github-action@v6
        with:
          install: false
          working-directory: pets-ui
          build: pnpm run build
          start: pnpm run dev
          browser: ${{ matrix.browser }}

  build:
    name: Create UI build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Install pnpm
        uses: pnpm/action-setup@v4
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18.x
          cache: "pnpm"
      - name: Install dependencies
        run: pnpm i
      - name: Create UI build
        run: pnpm run build
        working-directory: pets-ui
