name: Pets UI CI

on:
  pull_request:
    paths: "pets-ui/**"
  workflow_dispatch:

jobs:
  test-and-linting:
    name: Run unit tests, linting & security checks
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18.x
          cache: "pnpm"
      - name: Install dependencies
        run: pnpm i
      - name: Audit packages
        run: pnpm audit
      # - name: Run unit tests
      #   run: pnpm run test
      #   working-directory: pets-ui
      - name: Run eslint
        run: pnpm run lint
        working-directory: pets-ui
        continue-on-error: true
      # - name: SonarCloud Scan
      #   uses: SonarSource/sonarcloud-github-action@master
      #   env:
      #     SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
      #   with:
      #     projectBaseDir: pets-ui/
