name: Pets CI

on:
  push:
    branches: [main, develop, release/**]
  pull_request:
    branches: [main, develop, release/**]

  workflow_dispatch:

concurrency:
  group: ci-${{ github.ref_name }}
  cancel-in-progress: true

jobs:
  linting:
    name: Run linting checks
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install pnpm
        uses: pnpm/action-setup@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20.x
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm i

      - name: Linting Checks
        run: pnpm -r lint

      - name: Type Checks
        run: pnpm -r type-check

  ui-tests:
    name: Run unit tests for ui
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install pnpm
        uses: pnpm/action-setup@v4
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20.x
          cache: "pnpm"
      - name: Install dependencies
        run: pnpm i

      - name: Run unit tests
        run: pnpm run test-coverage --testTimeout=10000
        working-directory: pets-ui

      - name: Upload coverage artifact
        uses: actions/upload-artifact@v4
        with:
          name: coverage-ui
          path: pets-ui/coverage/

  cypress-run:
    name: Run cypress tests
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        browser: [chrome, edge]
    env:
      USER_1_EMAIL: ${{ secrets.USER_1_EMAIL }}
      USER_1_PASSWORD: ${{ secrets.USER_1_PASSWORD }}
      USER_2_EMAIL: ${{ secrets.USER_2_EMAIL }}
      USER_2_PASSWORD: ${{ secrets.USER_2_PASSWORD }}
      USER_3_EMAIL: ${{ secrets.USER_3_EMAIL }}
      USER_3_PASSWORD: ${{ secrets.USER_3_PASSWORD }}
      USER_4_EMAIL: ${{ secrets.USER_4_EMAIL }}
      USER_4_PASSWORD: ${{ secrets.USER_4_PASSWORD }}
      USER_5_EMAIL: ${{ secrets.USER_5_EMAIL }}
      USER_5_PASSWORD: ${{ secrets.USER_5_PASSWORD }}
      USER_6_EMAIL: ${{ secrets.USER_6_EMAIL }}
      USER_6_PASSWORD: ${{ secrets.USER_6_PASSWORD }}
      VITE_MSAL_CLIENT_ID: ${{ secrets.LOCAL_MSAL_CLIENT_ID }}
      VITE_MSAL_TENANT_ID: ${{ secrets.LOCAL_MSAL_TENANT_ID }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install pnpm
        uses: pnpm/action-setup@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20.x
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm i

      - name: Debug available Cypress specs
        run: ls -R pets-ui/cypress/e2e

      - name: Cache Cypress binary
        id: cache-cypress-binary
        uses: actions/cache@v4
        with:
          path: ~/.cache/Cypress
          key: cypress-binary-${{ runner.os }}-${{ hashFiles('pets-ui/package.json') }}

      - name: Install Cypress Binary
        if: steps.cache-cypress-binary.outputs.cache-hit != 'true'
        run: |
          pnpm exec cypress install --force
          pnpm exec cypress verify
        working-directory: pets-ui

      - name: Start Local Environment
        run: |
          pnpm start & sleep 120

      - name: Cypress run tests
        uses: cypress-io/github-action@v6
        continue-on-error: true
        id: initial_attempt
        with:
          install: false
          working-directory: pets-ui
          browser: ${{ matrix.browser }}
          config-file: cypress/cypress.config.mjs
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Retry if failed
        if: steps.initial_attempt.outcome != 'success'
        uses: cypress-io/github-action@v6
        id: retry_attempt
        with:
          install: false
          working-directory: pets-ui
          browser: ${{ matrix.browser }}
          config-file: cypress/cypress.config.mjs
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Upload Failed Tests Screenshots
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: failed-tests-screenshots-${{ matrix.browser }}
          path: pets-ui/cypress/screenshots

      - name: Merge Mochawesome Reports
        run: |
          JSON_DIR=pets-ui/cypress/reports/mochawesome/.jsons
          if ls ${JSON_DIR}/*.json 1> /dev/null 2>&1; then
            npx mochawesome-merge ${JSON_DIR}/*.json > pets-ui/cypress/reports/mochawesome/mochawesome.json
          else
            echo "No mochawesome JSON files found. Skipping merge."
          fi

      - name: Upload Mochawesome Report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: mochawesome-report-${{ matrix.browser }}
          path: pets-ui/cypress/reports/mochawesome/

  core-services-tests:
    name: Run tests for core services
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install pnpm
        uses: pnpm/action-setup@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20.x
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm i

      - name: Pull docker dependencies
        run: docker compose pull localstack

      - name: Run tests
        run: pnpm test-coverage
        working-directory: pets-core-services

      - name: Capture Docker Compose logs
        if: failure() || success()
        run: |
          mkdir -p logs
          docker compose logs > logs/docker-compose.log
          docker compose down

      - name: Upload Docker Compose logs
        if: failure() || success()
        uses: actions/upload-artifact@v4
        with:
          name: docker-compose-logs
          path: logs/docker-compose.log

      - name: Upload coverage artifact
        uses: actions/upload-artifact@v4
        with:
          name: coverage-core-services
          path: pets-core-services/coverage/

  sonar-scan:
    runs-on: ubuntu-latest
    needs: [ui-tests, core-services-tests]
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          # Disabling shallow clone is recommended for improving relevancy of reporting
          fetch-depth: 0

      - name: Install pnpm
        uses: pnpm/action-setup@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20.x
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm i

      - name: Download UI coverage reports
        uses: actions/download-artifact@v4
        with:
          name: coverage-ui
          path: pets-ui/coverage/

      - name: Download Core Services coverage reports
        uses: actions/download-artifact@v4
        with:
          name: coverage-core-services
          path: pets-core-services/coverage/

      - name: Run SonarQube scan
        uses: SonarSource/sonarqube-scan-action@v2
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          SONAR_HOST_URL: "https://sonarcloud.io"

  build:
    name: Create UI build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Install pnpm
        uses: pnpm/action-setup@v4
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20.x
          cache: "pnpm"
      - name: Install dependencies
        run: pnpm i

      - name: Create UI build
        run: pnpm run build
        working-directory: pets-ui
