name: Pets CI

on:
  pull_request:
    branches:
    - main

  workflow_dispatch:

concurrency:
  group: ci-${{ github.ref_name }}
  cancel-in-progress: true


jobs:
  linting:
    name: Run linting checks
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install pnpm
        uses: pnpm/action-setup@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18.x
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm i

      - name: Lint typescript code
        run: pnpm -r lint

  ui-tests-and-sonar-scan:
    name: Run unit tests, security checks for ui
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          # Disabling shallow clone is recommended for improving relevancy of reporting
          fetch-depth: 0

      - name: Install pnpm
        uses: pnpm/action-setup@v4
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18.x
          cache: "pnpm"
      - name: Install dependencies
        run: pnpm i

      - name: Run unit tests
        run: pnpm run test --testTimeout=10000
        working-directory: pets-ui

      # - name: SonarCloud Scan
      #   uses: SonarSource/sonarqube-scan-action@v4.1.0
      #   env:
      #     SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
      #   with:
      #     projectBaseDir: pets-ui/

  cypress-run:
    name: Run cypress tests
    runs-on: ubuntu-latest
    strategy:
      matrix:
        browser: [chrome, firefox, edge]
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Install pnpm
        uses: pnpm/action-setup@v4
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18.x
          cache: "pnpm"
      - name: Install dependencies
        run: pnpm i

      - name: Cache Cypress binary
        id: cache-cypress-binary
        uses: actions/cache@v4
        with:
          path: ~/.cache/Cypress
          key: cypress-binary-${{ runner.os }}-${{ hashFiles('pets-ui/package.json') }}

      - name: Install Cypress Binary
        if: steps.cache-cypress-binary.outputs.cache-hit != 'true'
        run: |
          pnpm exec cypress install --force
          pnpm exec cypress verify
        working-directory: pets-ui

      - name: Cypress run tests
        uses: cypress-io/github-action@v6
        with:
          install: false
          working-directory: pets-ui/cypress
          build: pnpm run build
          start: pnpm run dev
          browser: ${{ matrix.browser }}

      - name: Upload Failed Tests Screenshots
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: failed-tests-screenshots
          path: pets-ui/cypress/cypress/screenshots

  core-services-test-and-sonar-scan:
    name: Run unit tests security checks for core services
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          # Disabling shallow clone is recommended for improving relevancy of reporting
          fetch-depth: 0

      - name: Install pnpm
        uses: pnpm/action-setup@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18.x
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm i

      - name: Pull docker dependencies
        run: docker compose pull localstack

      - name: Run tests
        run: pnpm test
        working-directory: pets-core-services

      - name: Capture Docker Compose logs
        if: failure() || success()
        run: |
          mkdir -p logs
          docker compose logs > logs/docker-compose.log
          docker compose down

      - name: Upload Docker Compose logs
        if: failure() || success()
        uses: actions/upload-artifact@v4
        with:
          name: docker-compose-logs
          path: logs/docker-compose.log

      # - name: SonarCloud Scan
      #   uses: SonarSource/sonarqube-scan-action@v4.2.1
      #   env:
      #     SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
      #   with:
      #     projectBaseDir: pets-core-services

  build:
    name: Create UI build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Install pnpm
        uses: pnpm/action-setup@v4
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18.x
          cache: "pnpm"
      - name: Install dependencies
        run: pnpm i

      - name: Create UI build
        run: pnpm run build
        working-directory: pets-ui