name: Pets CI

on:
  pull_request:
    branches:
      - main

  workflow_dispatch:

concurrency:
  group: ci-${{ github.ref_name }}
  cancel-in-progress: true

jobs:
  linting:
    name: Run linting checks
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install pnpm
        uses: pnpm/action-setup@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18.x
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm i

      - name: Lint typescript code
        run: pnpm -r lint

  ui-tests:
    name: Run unit tests for ui
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install pnpm
        uses: pnpm/action-setup@v4
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18.x
          cache: "pnpm"
      - name: Install dependencies
        run: pnpm i

      - name: Run unit tests
        run: pnpm run test-coverage --testTimeout=10000
        working-directory: pets-ui

      - name: Upload coverage artifact
        uses: actions/upload-artifact@v4
        with:
          name: coverage-ui
          path: pets-ui/coverage/

  cypress-run:
    if: false # Skipp End to End Tests temporarily
    name: Run cypress tests
    runs-on: ubuntu-latest
    strategy:
      matrix:
        browser: [chrome, firefox, edge]
    env:
      USER_1_EMAIL: ${{ secrets.USER_1_EMAIL }}
      USER_1_PASSWORD: ${{ secrets.USER_1_PASSWORD }}

      USER_2_EMAIL: ${{ secrets.USER_2_EMAIL }}
      USER_2_PASSWORD: ${{ secrets.USER_2_PASSWORD }}

      USER_3_EMAIL: ${{ secrets.USER_3_EMAIL }}
      USER_3_PASSWORD: ${{ secrets.USER_3_PASSWORD }}

      USER_4_EMAIL: ${{ secrets.USER_4_EMAIL }}
      USER_4_PASSWORD: ${{ secrets.USER_4_PASSWORD }}

      USER_5_EMAIL: ${{ secrets.USER_5_EMAIL }}
      USER_5_PASSWORD: ${{ secrets.USER_5_PASSWORD }}

      USER_6_EMAIL: ${{ secrets.USER_6_EMAIL }}
      USER_6_PASSWORD: ${{ secrets.USER_6_PASSWORD }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Install pnpm
        uses: pnpm/action-setup@v4
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18.x
          cache: "pnpm"
      - name: Install dependencies
        run: pnpm i

      - name: Cache Cypress binary
        id: cache-cypress-binary
        uses: actions/cache@v4
        with:
          path: ~/.cache/Cypress
          key: cypress-binary-${{ runner.os }}-${{ hashFiles('pets-ui/package.json') }}

      - name: Install Cypress Binary
        if: steps.cache-cypress-binary.outputs.cache-hit != 'true'
        run: |
          pnpm exec cypress install --force
          pnpm exec cypress verify
        working-directory: pets-ui

      - name: Cypress run tests
        uses: cypress-io/github-action@v6
        with:
          install: false
          working-directory: pets-ui
          build: pnpm run build
          start: pnpm run dev
          browser: ${{ matrix.browser }}
          config-file: cypress/cypress.config.mjs

      - name: Retry if failed
        if: failure()
        uses: cypress-io/github-action@v6
        with:
          install: false
          working-directory: pets-ui
          build: pnpm run build
          start: pnpm run dev
          browser: ${{ matrix.browser }}
          config-file: cypress/cypress.config.mjs

      - name: Upload Failed Tests Screenshots
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: failed-tests-screenshots
          path: pets-ui/cypress/screenshots

  core-services-tests:
    name: Run tests for core services
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install pnpm
        uses: pnpm/action-setup@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18.x
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm i

      - name: Pull docker dependencies
        run: docker compose pull localstack

      - name: Run tests
        run: pnpm test-coverage
        working-directory: pets-core-services

      - name: Capture Docker Compose logs
        if: failure() || success()
        run: |
          mkdir -p logs
          docker compose logs > logs/docker-compose.log
          docker compose down

      - name: Upload Docker Compose logs
        if: failure() || success()
        uses: actions/upload-artifact@v4
        with:
          name: docker-compose-logs
          path: logs/docker-compose.log

      - name: Upload coverage artifact
        uses: actions/upload-artifact@v4
        with:
          name: coverage-core-services
          path: pets-core-services/coverage/

  sonar-scan:
    runs-on: ubuntu-latest
    needs: [ui-tests, core-services-tests]
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          # Disabling shallow clone is recommended for improving relevancy of reporting
          fetch-depth: 0

      - name: Install pnpm
        uses: pnpm/action-setup@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18.x
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm i

      - name: Download UI coverage reports
        uses: actions/download-artifact@v4
        with:
          name: coverage-ui
          path: pets-ui/coverage/

      - name: Download Core Services coverage reports
        uses: actions/download-artifact@v4
        with:
          name: coverage-core-services
          path: pets-core-services/coverage/

      - name: Run SonarQube scan
        uses: SonarSource/sonarqube-scan-action@v2
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          SONAR_HOST_URL: "https://sonarcloud.io"

  build:
    name: Create UI build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Install pnpm
        uses: pnpm/action-setup@v4
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18.x
          cache: "pnpm"
      - name: Install dependencies
        run: pnpm i

      - name: Create UI build
        run: pnpm run build
        working-directory: pets-ui
