name: Pets Clinic Service Deployment - Dev

on:
  workflow_dispatch:
  pull_request:
    types: [closed]
    branches: [main]
    paths: "core-services/clinic-service/**"

jobs:
  clinic-service:
    uses: ./.github/workflows/clinic-service-deploy.yaml
    with:
      environment: "dev"
    secrets: inherit
