name: Pets Clinic Service Deployment - Dev

on:
  workflow_dispatch:
  push:
    branches: [feature/TBBETA-474]

jobs:
  deploy:
    name: Deploy build & swagger spec
    runs-on: ubuntu-latest
    environment: dev

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18.x
          cache: "yarn"
      # - name: Build clinic service
      #   run: yarn run build
      # - name: Create lambda zip
      #   run: zip clinic-service-lambda.zip ./build
      #   working-directory: core-services/clinic-service
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-region: "eu-west-2"
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          role-to-assume: "arn:aws:iam::${{ secrets.AWS_ACCOUNT_ID }}:role/${{ secrets.AWS_PETS_CLINIC_SERVICE_ROLE_NAME }}"
          role-session-name: PETS-Clinic-Service-Deploy
      - name: Get secrets from AWS
        uses: aws-actions/aws-secretsmanager-get-secrets@v2
        with:
          secret-ids: |
            dev/ClinicServiceDeploy
            Clinic_Service_URIs
          parse-json-secrets: true
      # - name: Upload Clinic Service to S3
      #   working-directory: core-services/clinic-service
      #   run: aws s3 cp clinic-service-lambda.zip s3://$DEV_CLINICSERVICEDEPLOY_BUCKET_NAME --sse aws:kms --sse-kms-key-id $DEV_CLINICSERVICEDEPLOY_SSE_KEY
      - name: Process Swagger file
        uses: actions/github-script@v7
        with:
          script: |
            let inputFilePath = './core-services/clinic-service/swagger/swagger.js'
            fs = require('fs')
            var swaggerAsArray = fs.readFileSync(inputFilePath, 'utf-8').split('\r\n')
            swaggerAsArray = swaggerAsArray.slice(2,-1)
            var swaggerAsString = '{' + swaggerAsArray.join('') + '}'
            var swaggerAsJson = JSON.parse(swaggerAsString)
            let integrationBlock = {'uri': '','passthroughBehavior': 'when_no_match','httpMethod': '','type': 'aws_proxy'}
            let uriSecretNames = []
            for (path in swaggerAsJson['paths']) {
              for (httpMethod in swaggerAsJson['paths'][path]) {
                  swaggerAsJson['paths'][path][httpMethod]['x-amazon-apigateway-integration'] = {...integrationBlock} // Spreading the object clones it, preventing original object from being referenced when fields are amended
                  let uriSecretName = 'CLINIC_SERVICE_URIS_' + path.toUpperCase() + '_' + httpMethod.toUpperCase()
                  uriSecretName = uriSecretName.replace(/[^A-Z0-9_]/g, ''); // Removing special characters to conform to GHA Secret naming rules
                  uriSecretNames.push(uriSecretName)
                  swaggerAsJson['paths'][path][httpMethod]['x-amazon-apigateway-integration']['uri'] = uriSecretName
                  swaggerAsJson['paths'][path][httpMethod]['x-amazon-apigateway-integration']['httpMethod'] = httpMethod.toUpperCase()
              }
            }
            console.log(uriSecretNames)
            console.log(swaggerAsJson)
            fs.writeFile('output_test.txt', JSON.stringify(swaggerAsJson), (err) => {if (err) throw err;});

      - name: Upload Swagger file to S3
        working-directory: core-services/clinic-service/swagger
        run: |
          aws s3 cp output_test.txt s3://$DEV_CLINICSERVICEDEPLOY_BUCKET_NAME --sse aws:kms --sse-kms-key-id $DEV_CLINICSERVICEDEPLOY_SSE_KEY
