name: Pets Core Services Deployment

on:
  workflow_call:
    inputs:
      environment:
        type: string
        required: true

jobs:
  fetch-deployment-config:
    name: Fetch deployment config for all lambdas
    runs-on: ubuntu-latest
    environment: ${{ inputs.environment }}

    outputs:
      config: ${{ steps.read-config.outputs.config }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Read deployment config
        id: read-config
        run: |
          config=$(jq -c '.' deployment.config.json)
          echo "config=$config" >> $GITHUB_OUTPUT
        shell: bash
        working-directory: pets-core-services

  deploy-lambdas:
    name: Build, package & deploy lambda
    runs-on: ubuntu-latest
    environment: ${{ inputs.environment }}
    needs: fetch-deployment-config

    env:
      BUILD_FOLDER: ".build"
      ZIP_FILE: "deployment_package.zip"
      AWS_ACCOUNT_ID: secrets.AWS_ACCOUNT_ID

    strategy:
      matrix:
        lambda: ${{ fromJSON(needs.fetch-deployment-config.outputs.config) }}

    steps:
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          mask-aws-account-id: true
          aws-region: "eu-west-2"
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          role-to-assume: "arn:aws:iam::${{ secrets.AWS_ACCOUNT_ID }}:role/${{ secrets.AWS_PETS_CORE_SERVICES_ROLE_NAME }}"
          role-session-name: PETS-Core-Services-Deploy

      - name: Checkout code
        uses: actions/checkout@v4
      - name: Install pnpm
        uses: pnpm/action-setup@v4
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18.x
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm i

      - name: Build lambda source code
        run: pnpm build-lambda ${{ matrix.lambda.path }} --outfile=$BUILD_FOLDER/index.js
        working-directory: pets-core-services

      - name: Create zip
        run: zip -r -j $ZIP_FILE $BUILD_FOLDER/*
        working-directory: pets-core-services

      - name: Update lambda code
        run: aws lambda update-function-code --function-name ${{ matrix.lambda.name }} --zip-file fileb://$ZIP_FILE
        working-directory: pets-core-services

      # TODO: Generate the swagger file

      # - name: Upload Service to S3
      #   working-directory: core-services/${{ matrix.service }}
      #   run: aws s3 cp $ZIP_FILE s3://$BUCKET_SECRET --sse aws:kms --sse-kms-key-id $SSE_KEY_SECRET

      # - name: Process Swagger file
      #   if: ${{ matrix.service != 'lambda-authoriser' }}
      #   uses: actions/github-script@v7
      #   env:
      #     AWS_ACCOUNT_ID: "${{ secrets.AWS_ACCOUNT_ID }}"
      #   with:
      #     script: |
      #       const addIntegrationsToSwagger = require('./.github/scripts/add-integrations-to-swagger.js')
      #       addIntegrationsToSwagger('${{ matrix.service }}')

      # - name: Upload Swagger file to S3
      #   if: ${{ matrix.service != 'lambda-authoriser' }}
      #   working-directory: core-services/${{ matrix.service }}
      #   run: aws s3 cp swagger.json s3://$BUCKET_SECRET --sse aws:kms --sse-kms-key-id $SSE_KEY_SECRET

      # - name: Copy node modules to node-zip folder for ${{ matrix.service }}
      #   run: mkdir -p node-zip/${{ matrix.service }}/nodejs && cp core-services/${{ matrix.service }}/package.json node-zip/${{ matrix.service }}

      # - name: Install prod dependencies
      #   working-directory: node-zip/${{ matrix.service }}
      #   run: pnpm i --ignore-workspace --prod --shamefully-hoist

      # - name: Copy node modules to nodejs folder
      #   run: cp -Lr node-zip/${{ matrix.service }}/node_modules node-zip/${{ matrix.service }}/nodejs
      # - name: Remove .pnpm folder
      #   run: rm -rf node-zip/${{ matrix.service }}/nodejs/node_modules/.pnpm
      # - name: Create nodejs zip file
      #   working-directory: node-zip/${{ matrix.service }}
      #   run: zip -r nodejs.zip nodejs
      # - name: Upload nodejs zip file to S3
      #   working-directory: node-zip/${{ matrix.service }}
      #   run: aws s3 cp nodejs.zip s3://$BUCKET_SECRET --sse aws:kms --sse-kms-key-id $SSE_KEY_SECRET

      # - name: Update lambda code
      #   run: aws lambda update-function-code --function-name arn:aws:lambda:eu-west-2:${{ secrets.AWS_ACCOUNT_ID }}:function:$LAMBDA --s3-bucket $BUCKET_SECRET --s3-key $ZIP_FILE
      # - name: Create new lambda layer version
      #   run: |
      #     LAYER_VERSION_INFO=$(aws lambda publish-layer-version \
      #       --layer-name ${{ matrix.service }}-layer \
      #       --description "Lambda Layer containing node_modules for ${{ matrix.service }}" \
      #       --content S3Bucket=$BUCKET_SECRET,S3Key=nodejs.zip \
      #       --compatible-runtimes nodejs18.x)
      #     echo "LAYER_ARN=$(echo $LAYER_VERSION_INFO | jq -r .LayerVersionArn)" >> $GITHUB_ENV
      # - name: Attach new layer version to lambda function
      #   run: |
      #     aws lambda update-function-configuration \
      #       --function-name arn:aws:lambda:eu-west-2:${{ secrets.AWS_ACCOUNT_ID }}:function:$LAMBDA \
      #       --layers $LAYER_ARN
