name: Pets Core Services Deployment

on:
  workflow_call:
    inputs:
      environment:
        type: string
        required: true

jobs:
  matrix:
    name: Create strategy matrix
    runs-on: ubuntu-latest
    environment: ${{ inputs.environment }}
    outputs:
      matrix: ${{ steps.set-output.outputs.matrix }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          # Disabling shallow clone is recommended for improving relevancy of reporting
          fetch-depth: 0
      - name: Paths filter
        uses: dorny/paths-filter@v3
        id: filter
        with:
          filters: |
            applicant-service:
              - "core-services/applicant-service/**"
            clinic-service:
              - "core-services/clinic-service/**"
            lambda-authoriser:
              - "core-services/lambda-authoriser/**"
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          mask-aws-account-id: true
          aws-region: "eu-west-2"
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          role-to-assume: "arn:aws:iam::${{ secrets.AWS_ACCOUNT_ID }}:role/${{ secrets.AWS_PETS_CORE_SERVICES_ROLE_NAME }}"
          role-session-name: PETS-Core-Services-Deploy
      - name: Get secrets from AWS
        uses: aws-actions/aws-secretsmanager-get-secrets@v2
        with:
          secret-ids: |
            CoreServicesDeploy
            CoreServicesURIs
          parse-json-secrets: true
      - name: Create matrix
        uses: actions/github-script@v7
        id: create-matrix
        with:
          script: |
            const createDeploymentMatrix = require('./.github/scripts/create-deployment-matrix.js')
            return matrix = createDeploymentMatrix(${{ steps.filter.outputs.changes }})
      - name: Set job output
        id: set-output
        run: echo "matrix=${{steps.create-matrix.outputs.result}}" >> "$GITHUB_OUTPUT"

  print-matrix:
    runs-on: ubuntu-latest
    needs: matrix
    steps:
      - run: echo "${{ needs.matrix.outputs.result }}"
      - run: echo "${{ needs.matrix.outputs.matrix }}"
      - run: echo "${{ fromJSON(needs.matrix.outputs.result) }}"
      - run: echo "${{ fromJSON(needs.matrix.outputs.matrix) }}"

  deploy:
    name: Build, package & deploy services
    runs-on: ubuntu-latest
    environment: ${{ inputs.environment }}
    needs: matrix

    strategy:
      matrix:
        service:
          ${{ fromJSON(needs.matrix.outputs.matrix) }}
          # - name: applicant-service
          #   zip-file: applicant-service-lambda.zip
          #   build-folder: .build/*
          #   bucket-secret: $CORESERVICESDEPLOY_APPLICANT_SERVICE_BUCKET_NAME
          #   sse-key-secret: $CORESERVICESDEPLOY_APPLICANT_SERVICE_SSE_KEY
          #   lambda: applicant-service-lambda
          # - name: clinic-service
          #   zip-file: clinic-service-lambda.zip
          #   build-folder: .build/*
          #   bucket-secret: $CORESERVICESDEPLOY_CLINIC_SERVICE_BUCKET_NAME
          #   sse-key-secret: $CORESERVICESDEPLOY_CLINIC_SERVICE_SSE_KEY
          #   lambda: clinic-service-lambda
          # - name: lambda-authoriser
          #   zip-file: lambda-authoriser.zip
          #   build-folder: src/*
          #   bucket-secret: $CORESERVICESDEPLOY_LAMBDA_AUTHORISER_BUCKET_NAME
          #   sse-key-secret: $CORESERVICESDEPLOY_LAMBDA_AUTHORISER_SSE_KEY
          #   lambda: api-gateway-authoriser

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18.x
          cache: "yarn"
      # - name: Paths filter
      #   uses: dorny/paths-filter@v3
      #   id: changes
      #   with:
      #     filters: |
      #       applicant-service:
      #         - "core-services/applicant-service/**"
      #       clinic-service:
      #         - "core-services/clinic-service/**"
      #       lambda-authoriser:
      #         - "core-services/lambda-authoriser/**"

      - name: Install dependencies
        if: ${{ matrix.service.name != 'lambda-authoriser' }}
        run: yarn workspace ${{ matrix.service.name }} install
        working-directory: core-services/${{ matrix.service.name }}
      - name: Build service
        if: ${{ matrix.service.name != 'lambda-authoriser' }}
        working-directory: core-services/${{ matrix.service.name }}
        run: yarn run build

      - name: Create zip
        run: zip -r ${{ matrix.service.zip-file }} ${{ matrix.service.build-folder }}
        working-directory: core-services/${{ matrix.service.name }}

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          mask-aws-account-id: true
          aws-region: "eu-west-2"
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          role-to-assume: "arn:aws:iam::${{ secrets.AWS_ACCOUNT_ID }}:role/${{ secrets.AWS_PETS_CORE_SERVICES_ROLE_NAME }}"
          role-session-name: PETS-Core-Services-Deploy
      - name: Get secrets from AWS
        uses: aws-actions/aws-secretsmanager-get-secrets@v2
        with:
          secret-ids: |
            CoreServicesDeploy
            CoreServicesURIs
          parse-json-secrets: true

      - name: Upload Service to S3
        working-directory: core-services/${{ matrix.service.name }}
        run: aws s3 cp ${{ matrix.service.zip-file }} s3://${{ matrix.service.bucket-secret }} --sse aws:kms --sse-kms-key-id ${{ matrix.service.sse-key-secret }}

      - name: Process Swagger file
        if: ${{ matrix.service.name != 'lambda-authoriser' }}
        uses: actions/github-script@v7
        env:
          AWS_ACCOUNT_ID: "${{ secrets.AWS_ACCOUNT_ID }}"
        with:
          script: |
            const addIntegrationsToSwagger = require('./.github/scripts/add-integrations-to-swagger.js')
            addIntegrationsToSwagger('${{ matrix.service.name }}')
      - name: Upload Swagger file to S3
        if: ${{ matrix.service.name != 'lambda-authoriser' }}
        working-directory: core-services/${{ matrix.service.name }}
        run: aws s3 cp swagger.json s3://${{ matrix.service.bucket-secret }} --sse aws:kms --sse-kms-key-id ${{ matrix.service.sse-key-secret }}

      - name: Create package.json file including only non-dev dependencies
        uses: actions/github-script@v7
        with:
          script: |
            const createPackageDotJson = require('./.github/scripts/create-package-dot-json.js')
            createPackageDotJson('${{ matrix.service.name }}')
      - name: Run yarn in nodejs folder
        working-directory: node-zip/${{ matrix.service.name }}/nodejs
        run: yarn
      - name: Create nodejs zip file
        working-directory: node-zip/${{ matrix.service.name }}
        run: zip -r nodejs.zip nodejs
      - name: Upload nodejs zip file to S3
        working-directory: node-zip/${{ matrix.service.name }}
        run: aws s3 cp nodejs.zip s3://${{ matrix.service.bucket-secret }} --sse aws:kms --sse-kms-key-id ${{ matrix.service.sse-key-secret }}

      - name: Update lambda code
        run: aws lambda update-function-code --function-name arn:aws:lambda:eu-west-2:${{ secrets.AWS_ACCOUNT_ID }}:function:${{ matrix.service.lambda }} --s3-bucket ${{ matrix.service.bucket-secret }} --s3-key ${{ matrix.service.zip-file }}
