name: Pets Core Services Deployment

on:
  workflow_call:
    inputs:
      environment:
        type: string
        required: true

jobs:
  load-deployment-config:
    name: Load deployment config for Core Services Lambda
    runs-on: ubuntu-latest
    environment: ${{ inputs.environment }}

    outputs:
      config: ${{ steps.deployment-config.outputs.deploy_config }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18.x

      - name: Load Deployment config
        id: deployment-config
        run: |
          pets_config=$(node pets-config.mjs)
          deploy_config=$(jq -c ".coreServicesDeployConfig" <<< $pets_config)
          echo "deploy_config=$deploy_config" >> $GITHUB_OUTPUT
        shell: bash

  deploy-lambdas:
    name: Build, package & deploy lambda
    runs-on: ubuntu-latest
    environment: ${{ inputs.environment }}
    needs: load-deployment-config

    env:
      BUILD_FOLDER: ".build"
      ZIP_FILE: "deployment_package.zip"
      AWS_ACCOUNT_ID: ${{ secrets.AWS_ACCOUNT_ID }}

    strategy:
      matrix:
        lambda: ${{ fromJSON(needs.load-deployment-config.outputs.config) }}

    steps:
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          mask-aws-account-id: true
          aws-region: "eu-west-2"
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          role-to-assume: "arn:aws:iam::${{ secrets.AWS_ACCOUNT_ID }}:role/${{ secrets.AWS_PETS_CORE_SERVICES_ROLE_NAME }}"
          role-session-name: PETS-Core-Services-Deploy

      - name: Checkout code
        uses: actions/checkout@v4
      - name: Install pnpm
        uses: pnpm/action-setup@v4
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18.x
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm i

      - name: Build lambda source code
        run: pnpm build-lambda ${{ matrix.lambda.path }} --outfile=$BUILD_FOLDER/index.js
        working-directory: pets-core-services

      - name: Create zip
        run: zip -r -j $ZIP_FILE $BUILD_FOLDER/*
        working-directory: pets-core-services

      - name: Update lambda code
        run: aws lambda update-function-code --function-name ${{ matrix.lambda.lambdaName }} --zip-file fileb://$ZIP_FILE
        working-directory: pets-core-services

  deploy-swagger-spec:
    name: Generate Swagger spec and deploy to API Gateway
    runs-on: ubuntu-latest
    environment: ${{ inputs.environment }}
    needs: deploy-lambdas

    env:
      AWS_ACCOUNT_ID: ${{ secrets.AWS_ACCOUNT_ID }}
      SPEC_FILE: swagger.json
      APP_DOMAIN: ${{ vars.APP_DOMAIN }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Install pnpm
        uses: pnpm/action-setup@v4
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18.x
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm i

      - name: Generate Swagger spec
        run: pnpm tsx src/swagger-generator/index.ts
        working-directory: pets-core-services

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          mask-aws-account-id: true
          aws-region: "eu-west-2"
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          role-to-assume: "arn:aws:iam::${{ secrets.AWS_ACCOUNT_ID }}:role/${{ secrets.AWS_PETS_CORE_SERVICES_ROLE_NAME }}"
          role-session-name: PETS-Core-Services-Deploy-Refreshed

      - name: Upload Spec to S3 # TODO: Delete this step as part of TBBETA-647, Only here to ensure platforms deployment don't overwrite dev deployment
        run: aws s3 cp $SPEC_FILE s3://aw-pets-euw-dev-s3-clinicservicelambda --sse aws:kms --sse-kms-key-id ${{ secrets.SSE_KEY_SECRET }}
        working-directory: pets-core-services

      - name: Deploy Spec to API Gateway
        run: aws apigateway put-rest-api --rest-api-id ${{ vars.API_GATEWAY_ID }} --mode overwrite --body fileb://$SPEC_FILE
        working-directory: pets-core-services

      - name: Update API Gateway Stage
        run: aws apigateway create-deployment --rest-api-id ${{ vars.API_GATEWAY_ID }} --stage-name ${{ inputs.environment }}
