name: Pets Deployment - Test

on:
  workflow_dispatch:
  push:
    branches:
      - develop

jobs:
  deploy:
    uses: ./.github/workflows/deploy.yaml
    with:
      environment: "qat"
    secrets: inherit
